
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main_styles.css' %}">
</head>
<body>
    <header>
        <div>
            <img src="{% static 'images/logo.jpg' %}" alt="Логотип проекта" class="logo">
            <h1>PyInsight: Python-программист в цифрах</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'demand' %}">Востребованность</a></li>
                <li><a href="{% url 'geography' %}">География</a></li>
                <li><a href="{% url 'skills' %}">Навыки</a></li>
                <li><a href="{% url 'recent_vacancies' %}">Последние вакансии</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Бобоев Азизджон Рахматович РИ-220935</p>
    </footer>
</body>
</html>
