<!-- templates/demand.html -->

{% extends 'base.html' %}

{% block title %}Востребованность{% endblock %}

{% block content %}
    <section>
        <h2>Динамика уровня зарплат по годам</h2>
        <table>
            <thead>
                <tr>
                    <th>Год</th>
                    <th>Средняя зарплата</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    <section>
        <h2>Динамика количества вакансий по годам</h2>
        <table>
            <thead>
                <tr>
                    <th>Год</th>
                    <th>Количество вакансий</th>
                </tr>
            </thead>
        </table>
    </section>

    <section>
        <h2>Динамика уровня зарплат по годам для выбранной профессии</h2>
        <table>
            <thead>
                <tr>
                    <th>Год</th>
                    <th>Средняя зарплата</th>
                </tr>
            </thead>
        </table>
    </section>

    <section>
        <h2>Динамика количества вакансий по годам для выбранной профессии</h2>
        <table>
            <thead>
                <tr>
                    <th>Год</th>
                    <th>Количество вакансий</th>
                </tr>
            </thead>
        </table>
    </section>
{% endblock %}
