{% extends 'base.html' %}

{% load static %}

{% block title %}Профессия Python-программист{% endblock %}

{% block content %}
    <div>
        <img src="{% static 'images/profession_image.jpg' %}" alt="Изображение профессии" class="prof-img">
    </div>

    <section class="profession-description">
        <h2>Python-программист</h2>
        <p class="profession-intro">
            Python-программист – это специалист, специализирующийся на языке программирования Python.
            Python – это универсальный и мощный язык, который широко используется в различных областях
            разработки программного обеспечения.
        </p>

        <h3>Обязанности Python-программиста:</h3>
        <ul class="responsibilities-list">
            <li>Разработка программного кода на языке Python в соответствии с требованиями проекта.</li>
            <li>Участие в анализе и проектировании программных решений.</li>
            <li>Тестирование и отладка программного кода.</li>
            <li>Оптимизация и поддержка существующего программного обеспечения.</li>
            <li>Интеграция различных компонентов программы.</li>
        </ul>

        <h3>Возможные требования к Python-программисту:</h3>
        <ul class="requirements-list">
            <li>Глубокое понимание языка программирования Python.</li>
            <li>Опыт работы с фреймворками, такими как Django, Flask и т.д.</li>
            <li>Знание основных принципов объектно-ориентированного программирования.</li>
            <li>Умение эффективно работать с базами данных.</li>
            <li>Навыки написания тестируемого и поддерживаемого кода.</li>
            <li>Коммуникабельность и способность работать в команде.</li>
        </ul>

        <p class="profession-conclusion">
            Работа Python-программиста предоставляет отличные возможности для творчества,
            развития профессиональных навыков и участия в увлекательных проектах.
            Эта профессия востребована в современном мире программирования и информационных технологий.
        </p>
    </section>
{% endblock %}