{% extends 'base.html' %}

{% block title %}Последние вакансии{% endblock %}

{% block content %}
        {% for vacancy in vacancies_data %}
            <section>
                <ul>
                    <li>
                        <h2>{{ vacancy.name }}</h2><br>
                        Описание: {{ vacancy.description|safe }}<br>
                        Навыки: {{ vacancy.key_skills|safe }}<br>
                        Компания: {{ vacancy.employer }}<br>
                        Оклад: {{ vacancy.salary.value }} {{ vacancy.salary.currency }}<br>
                        Регион: {{ vacancy.area_name }}<br>
                        Дата публикации: {{ vacancy.published_at }}
                    </li>
                </ul>
            </section>
        {% endfor %}
{% endblock %}