{% extends 'base.html' %}

{% block title %}Навыки{% endblock %}

{% block content %}
    <section>
        <h2>ТОП-20 Навыков по годам</h2>

    </section>

    <section>
        <h2>ТОП-20 Навыков по годам для выбранной профессии</h2>
        <table>
            <thead>
                <tr>
                    <th>Навык</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO код для вывода данных ТОП-20 навыков по годам для выбранной профессии -->
            </tbody>
        </table>
        <!-- TODO код для графика ТОП-20 навыков по годам для выбранной профессии -->
    </section>
{% endblock %}