
{% extends 'base.html' %}

{% block title %}География{% endblock %}

{% block content %}
    <section>
        <h2>Уровень зарплат по городам</h2>
        <table>
            <thead>
                <tr>
                    <th>Город</th>
                    <th>Средняя зарплата</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    <section>
        <h2>Доля вакансий по городам</h2>
        <table>
            <thead>
                <tr>
                    <th>Город</th>
                    <th>Доля вакансий (%)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    <section>
        <h2>Уровень зарплат по городам для выбранной профессии</h2>
        <table>
            <thead>
                <tr>
                    <th>Город</th>
                    <th>Средняя зарплата</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    <section>
        <h2>Доля вакансий по городам для выбранной профессии</h2>
        <table>
            <thead>
                <tr>
                    <th>Город</th>
                    <th>Доля вакансий (%)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
{% endblock %}
