<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профессия Python-программист</title>
</head>
<body>
    <header>
        <h1>Профессия Python-программист</h1>
    </header>

    <div>
        <img src="" alt="Изображение профессии">
    </div>

    <section>
        <h2>Описание профессии</h2>
        <p></p>
    </section>

    <footer>
        <p>Бобоев Азизджон Рахматович РИ-220935</p>
    </footer>
</body>
</html>